h2{
	padding-left:350px;
	font-family:Trebuchet MS;
	font-size:40px;
}
.knowlege {
	padding-left:350px;
}

body
{

background:linear-gradient(to bottom,#6127c6,#27c68b)
}
.text {
	border: 2px solid red;
	border-radius:5px;
	padding:20px;
}
p{
font-size:24px;
}
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
	padding-left:-10px;
	width:333px;
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #7ac000;
    text-decoration: none;
}
ul.menu > li > a:hover {
    background-color: black;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid red;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: #ff5400;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}
ul.menu > li:hover > ul.submenu {
    display: block;
}